body{
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    color: black;
    background-color: rgb(248, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;

}
.Stopwatch-container{
    text-align: center;
        background: #333;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
#display {
  font-size: 48px;
  margin-bottom: 20px;
}
.buttons button{
    margin: 5px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #5c6bc0;
    color: white;
    transition: background 0.3s;
}
.buttons button:hover {
    background-color: #3f51b5;
}
#laps {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    max-height: 150px;
    overflow-y: auto;
}
#laps li {
    background: #444;
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
}